.card {
  background: var(--home-bg);
  color: var(--home-text);

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Display",
    "SF Pro Text",
    "Helvetica Neue",
    Arial,
    sans-serif;

  line-height: 1.5;
}

.card-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 90vh;
  background-color: aliceblue;
  background-image: url('https://i.pinimg.com/1200x/a8/7c/e9/a87ce9f19ff611cbdb709353fd67b023.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  align-items: center;
  padding: 10vh 0;
  font-size: 2rem;
  overflow-y: hidden;
}