/*.Home-Hero {
  display: flex;
  flex-direction: column;
  height: 65vh;
  background-color: aliceblue;
  background-image: url('https://i.pinimg.com/1200x/eb/e3/9f/ebe39f98b70c788787ee569f711454c6.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  align-items: center;
  padding: 10vh 0;
  font-size: 2rem;
}

.Home-Hero h1 {
    margin-bottom: 2vh;
}

.Home-Hero a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.Home-Hero a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.Home-Secondary {
    height: 35vh;
    margin: 1vh 0 1vh 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    gap: 1vh;
}

.Home-SecondaryContent {
    flex: 1;
    height: 100%;
    background-color: lightgray;
}*/

.Home-HeroStudio {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: aliceblue;
    background-image: url('../ArtWork/backgroundImage.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    align-items: center;
    padding: 10vh 0;
    font-size: 2rem;
    overflow-y: hidden;
}

.Home-HeroStudio img {
    margin-top: 12vh;
    width: 45vh;
    height: auto;
}

.Home-HeroStudio h1 {
    margin-top: 3.5vh;
    margin-bottom: 3.5vh;
}

.Home-HeroStudio p {
    font-size: 1.4rem;
    text-align: center;
    width: 60vw;
    margin: 0;
}

.Home-HeroStudio button {
    font-size: 1.2rem;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    padding: 1.3vh;
    margin: 4vh 1vw 0 1vw;
    width: 7vw;
}

.Home-HeroStudio button:hover {
    cursor: pointer;
    border: 1x solid lightgray;
    color: lightgray;
}

.Home-SecondaryStudio {
    width: 60vw;
    height: 40vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vh 20vw 0 20vw;
}

.Home-SecondaryStudio h1 {
    margin-bottom: 1vh;
    margin-top: 0;
    width: 40%;
}

.Home-SecondaryStudio p {
    font-size: 1.4rem;
    width: 80%;
}

.Home-FeaturesStudio {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    align-items: center;
}

.Home-FeaturesStudio img {
    width: 65vw;
}

.Home-FeaturesOptionsStudio {
    display: flex;
    flex-direction: row;
    width: 20vw;
    margin: 0 40vw 0 40vw;
    justify-content: space-between;
}

.Home-FeaturesOptionsStudio button {
    font-size: 1.1rem;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: none;
    background-color: lightgrey;
    padding: 0.5rem 1rem;
    border-radius: 10px 10px 0 0;
}

.Home-FeaturesOptionsStudio button:hover {
    cursor: pointer;
    color: black;
}

.Home-FeaturesOptionsStudio button {
    background: transparent;
    color: gray;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 600;
}

.Home-FeaturesOptionsStudio button.active {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: none;
    background-color: #F2F2F2;
    color: black;
    border-color: white;
}

.Home-AspectStudio {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    width: 100vw;
    overflow: hidden;
    justify-content: center;
    padding: 5vh 0 0 0;
}

.Home-AspectStudio img {
    width: 65vw;
}

.Home-AspectStudio h1 {
    width: 40vw;
    text-align: center;
    margin-bottom: 1vh;
    margin-top: 0;
}

.Home-AspectStudio p {
    font-size: 1.4rem;
    text-align: center;
    width: 80%;
}

.Home-AspectStudio2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Home-AspectImg1Studio {
    margin-bottom: 20vh;
}

.Home-AspectImg2Studio {
    margin-top: 20vh;
}